:root{
    --salmon : #EF9D71;
    --black : #000;
    --white: #e9e4e4;
    --cyan: #AEDEE0 ;
    --dsalmon: #532521;
    --dcyan: #1f2f32 ;
}

*::selection{
    background-color: var(--salmon);
}

body[theme="black"] {
      background-color: var(--black);
      color: var(--white);
    }

body[theme="white"] {
      background-color: var(--white);
      color: var(--black);
    }

body[theme="cyan"] {
      background-color: var(--cyan);
      color: var(--dcyan);
    }
body[theme="salmon"] {
      background-color: var(--salmon);
    //   color: var(--dsalmon);
    }

@font-face {
      font-family: "PPNeueMachinaLight";
      src: url("/font/PPNeueMachina_Light.ttf") format("truetype");
      font-weight: 300;
    }

body {
  transition: background-color 0.6s ease-out;
}

// @keyframes ease-out-elastic {
//   0% {
//     transform: scaleY(0.1);
//   }
//   100% {
//     transform: scaleY(1);
//   }
// }

// @keyframes ease-out-elastic {
//   0%   { transform: translate(-50%, -50%) scaleY(0.4); }
//   20%  { transform: translate(-50%, -50%) scaleY(1.2); }
//   40%  { transform: translate(-50%, -50%) scaleY(0.9); }
//   60%  { transform: translate(-50%, -50%) scaleY(1.05); }
//   80%  { transform: translate(-50%, -50%) scaleY(0.98); }
//   100% { transform: translate(-50%, -50%) scaleY(1); }
// }




.listelem:hover .imgdiv {
  animation: ease-out-elastic 0.6s ease-out forwards;
  transform-origin: center;
}


.vdodiv{
  clip-path: circle(var(--clip) at 50% 50%);
}

// @keyframes ease-out-elastic {
//   0%   { scale: 1 0.4; }
//   20%  { scale: 1 1.2; }
//   40%  { scale: 1 0.9; }
//   60%  { scale: 1 1.05; }
//   80%  { scale: 1 0.98; }
//   100% { scale: 1 1; }
// }

// .imgdiv {
//   transform-origin: center center;
// }